
menuconfig SINGLE_HEADER_LIBS_ENABLED
    bool "Enable nanojpeg"
    default n

    config SINGLE_HEADER_LIBS_DYNAMIC
        bool "compile component as dynamic(shared) lib"
        default n
        depends on SINGLE_HEADER_LIBS_ENABLED

