menuconfig AX_MSP_ENABLED
    bool "Enable ax_msp support"
    default n
    help
        enable axera bsp support

    choice
        prompt "choice board"
        default AX_620E_MSP_ENABLED
        depends on AX_MSP_ENABLED
    config AX_620E_MSP_ENABLED
        bool "enable ax620e bsp"
        help
            build by AXERA!
    config AX_650C_MSP_ENABLED
        bool "enable ax650C bsp"
        help
            build by AXERA!
    config AX_520_MSP_ENABLED
        bool "enable ax520 bsp"
        help
            build by AXERA!
    endchoice

    choice
        prompt "choice common version"
        default MSP_V2_0_0_ENABLED
        depends on AX_MSP_ENABLED && AX_620E_MSP_ENABLED
    config MSP_V2_0_0_ENABLED
        bool "enable v2.0.0 bsp"
        help
            build by m5stack!
    endchoice

    choice
        prompt "choice common version"
        default MSP_V3_6_2_ENABLED
        depends on AX_MSP_ENABLED && AX_650C_MSP_ENABLED
    config AX650_MSP_V3_6_2_ENABLED
        bool "enable v3.6.2 bsp"
        help
            build by m5stack!
    config AX650_MSP_V3_6_4_ENABLED
        bool "enable v3.6.4 bsp"
        help
            build by m5stack!
    endchoice

    config SAMPLE_COMMON_ENABLED
        bool "Enable sample common"
        default n
        depends on AX_MSP_ENABLED
        help
            enable sample common

